*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
#container{
    margin: 0 auto;
    width: 99.79vw;
    background-color: rgb(255, 255, 255);   
}

#cabecalho{
    padding: 15px;
    height: 7vh;
    background-color: rgb(228, 128, 89);
}

#cabecalho ul {
    list-style-type: none;
    float: right;
}
#cabecalho ul li{
    margin: 10px;
    float: left;
}
#cabecalho li a{
    text-decoration: none;
    line-height: 10px;
    color: #fff;
    cursor: pointer;
}

h1{
    margin: 30px;
    margin-left: 200px;
    font-family:'Playfair Display SC', serif;
    font-style: oblique;
    font-size: 2em;
    
}

#img-central{
    width: 30vw;
    margin-top: 30px;
    margin-left: 430px;
    opacity: 0.7;
    border-radius: 10px;
}

#footer{
    
    height: 7vh;
    padding: 15px;
    margin-top: 100px;
    font-size: 0.8em;
    color: #000;
    font-weight: bold;
    background-color: rgb(247, 203, 162);
}


/*HTML TRABALHE CONOSCO*/
h2{
    margin: 20px;
}
#work_us{

    margin: 5px;
}
legend{
    font-weight: bold;
}
fieldset{
    margin: 0.8em 0;
    padding: 1em ;
    text-transform: uppercase;
    position: relative;

    
}
fieldset input:valid{
    border: 1px solid green;
    outline: none;
}
fieldset input:invalid{
    border: 1px solid red;
    outline: none;
}
label{
    display: inline;
    
}
input{
    margin: 10px;
}

#submit{
    margin-right: 20px;
    float: right;
    background-color: rgb(27, 27, 27); 
    border: 2px solid #000;
    border-radius: 10px;
}

#submit input{
    padding: 12px 30px;
    background-color: rgb(27, 27, 27); 
    color: #fff;
    border: 2px solid rgb(27, 27, 27); ;
    cursor: pointer;
}

